/* 전체 캘린더 컨테이너 */
.react-calendar {
  width: 100%;
  font-size: 1.4rem;
  border: none;
}

/* 네비게이션 바 (상단 월/년과 이전/다음 버튼) */
.react-calendar__navigation {
  display: none;
}

/* 요일 헤더 행 전체 컨테이너 */
.react-calendar__month-view__weekdays {
  height: 2.6rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #333;
}

/* 요일 각각의 셀 (일, 월, ...) */
.react-calendar__month-view__weekdays_weekday {
  text-align: center;
}

/* 요일 텍스트 (abbr 태그 기본 스타일) */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

/* 토요일/일요일(abbr) 텍스트 빨간색 */
.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr,
.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
  color: #eb2c3c;
}

/* 월별 날짜 영역 전체 그리드 */
.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 1.6rem;
}

/* 월별 날짜 각각의 셀 */
.react-calendar__month-view__days__day {
  height: 3.4rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 이전/다음 달 날짜 미리보기 */
.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
  pointer-events: none;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

/* 기본 날짜 타일 스타일 정의*/
.react-calendar__tile {
  text-align: center;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  padding: inherit;
}

.react-calendar__tile--active {
  background: unset !important;
  color: unset !important;
}

/* 특정 날짜 타일 구분 (공휴일/평일) */
.red-day {
  color: #eb2c3c !important;
}

.black-day {
  color: #111111;
}

.selected-tile {
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
}

/* 오늘 날짜 타일 배경 */

.react-calendar__tile--now {
  background: unset;
}

.react-calendar__tile--now .selected-tile {
  background: #f0f0f0;
}

.today-day::after {
  content: 'TODAY';
  position: absolute;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  bottom: -1.7rem;
  left: 50%;
  transform: translateX(-50%);
  color: #111;
  background-color: transparent;
  pointer-events: none;
  white-space: nowrap;
}

.react-calendar__month-view__days__day.today-day {
  position: relative;
  overflow: visible !important;
}

.react-calendar__month-view__days__day.today-day::after {
  content: 'TODAY';
  position: absolute;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  bottom: -1.7rem;
  left: 50%;
  transform: translateX(-50%);
  color: #111;
  background-color: transparent;
  pointer-events: none;
  white-space: nowrap;
}

/* 과거 날짜 타일 배경 */
.react-calendar__tile.past-day {
  background: #ffffff;
  color: #bcbcbc;
  pointer-events: none;
}

/* 범위 내 날짜 타일 스타일 */
.react-calendar__tile.range-start .selected-tile,
.react-calendar__tile.range-end .selected-tile {
  background: #5e2bb8;
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  color: #fff;
}

.react-calendar__tile.range-start.bg {
  position: relative;
  background: linear-gradient(to left, #f8f3fd 50%, transparent 50%) !important;
  border-radius: 10rem 0 0 10rem;
}

.react-calendar__tile.range-end.bg {
  position: relative;
  border-radius: 0 10rem 10rem 0;
  background: linear-gradient(to right, #f8f3fd 50%, transparent 50%) !important;
}

.react-calendar__tile.range-middle {
  background: #f8f3fd;
  color: #000;
  border-radius: 0;
  position: relative;
}

/* hover시 색상 정의 */

.react-calendar__tile:hover {
  background-color: #ffffff !important;
}

.selected-tile:hover {
  background: #f0f0f0;
}

.react-calendar__tile.range-start .selected-tile:hover,
.react-calendar__tile.range-end .selected-tile:hover {
  background: #5e2bb8;
}

.react-calendar__tile.range-middle .selected-tile:hover {
  background: #f8f3fd;
}

.react-calendar__tile.range-middle:hover {
  background: #f8f3fd !important;
}
